.percentageIncrease {
  display: inline-flex;
}

.percentageDecrease {
  display: inline-flex;
}
.increaseIcon {
  margin-right: 5px;
  padding-top: 6px;
  color: green;
}
.decreaseIcon {
  margin-right: 5px;
  padding-bottom: 6px;
  color: red;
}

.fxInfo {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-right: 8px;
}
