.degerImageClass {
  border-radius: 150px 150px 150px 150px;
  width: 100%;
  max-width: 40rem;
  /* box-shadow: rgba(175, 24, 45, 0.25) 0px 54px 55px,
    rgba(175, 24, 45, 0.12) 0px -12px 30px, rgba(175, 24, 45, 0.12) 0px 4px 6px,
    rgba(175, 24, 45, 0.17) 0px 12px 13px, rgba(175, 24, 45, 0.09) 0px -3px 5px; */

  box-shadow: rgb(175 24 45 / 40%) 10px 13px 20px 3px,
    rgb(175 24 45 / 30%) 10px 10px 14px, rgb(175 24 45 / 20%) 15px 15px,
    rgb(175 24 45 / 10%) 20px 20px 10px 20px,
    rgb(175 24 45 / 5%) 25px 25px 17px 17px;
}

.list-item {
  color: #af182d;
  max-width: 1rem;
}

.featuresWrapper {
  background-color: #e5e5f7;
  background: linear-gradient(-45deg, #e5e7e6, #ca808a, #d8b4b8, #dfcecf);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 1000px) {
  .degerImageClass {
    margin: 3rem;
  }
}
