.fx-wrapper {
  body {
    padding: 50px 0;
    background-color: #222;
  }
  h1 {
    text-align: center;
    margin-bottom: 18px;
    color: black;
  }
  header {
    margin-bottom: 20px;
    text-align: center;
    img {
      max-width: 120px;
    }
  }
  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    .table {
      margin-bottom: 0;
      td,
      th {
        vertical-align: middle;
      }
      .mRight {
        margin-right: 20px;
      }
    }
    .row {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      h3 {
        padding-left: 40px;
      }
      .currency-flag {
        background: url("../images/newimages/turkey.png") no-repeat left center;
        background-size: 20px auto;
        margin-left: 2rem;
        &.USD {
          background-image: url("../images/newimages/united-states.png");
        }
        &.EUR {
          background-image: url("../images/newimages/european-union.png");
        }
        &.GBP {
          background-image: url("../images/newimages/united-kingdom.png");
        }
        &.XAU {
          background-image: url("../images/newimages/ingot.png");
        }
        &.XAG {
          background-image: url("../images/newimages/ingot.png");
        }
      }
      .input-group {
        display: flex;
        align-items: center;
        padding-top: 1em;
        padding-left: 1em;
        background: #eee;
        padding-bottom: 1em;
        border-radius: 1rem;
      }

      .input-group-addon {
        margin-right: 0.4rem;
        font-weight: bolder;
        margin-left: 0.2rem;
      }

      .exchange-rate {
        .exchange-rate-writing {
          font-weight: 700;
        }
      }
    }
    .row-select-currency {
      text-align: center;
    }
    @media (min-width: 768px) {
      .currency-from-input {
        position: relative;
        padding-right: 40px;
        &:after {
          content: "=";
          display: block;
          position: absolute;
          right: -8px;
          bottom: 4px;
          font-weight: bold;
          font-size: 30px;
        }
      }
      .currency-to-input {
        padding-left: 40px;
      }
    }
  }
  .message {
    text-align: center;
    &:only-child {
      margin: 0;
    }
  }
  .btn-sm {
    margin-right: 8px;
  }
  .form-inline {
    margin: 10px auto;
    width: 235px;
    .btn-default {
      margin-left: 5px;
    }
  }
  .credits {
    text-align: center;
    color: #fff;
    padding: 70px;
    opacity: 0.2;
    transition: opacity 0.3s linear;
    &:hover {
      opacity: 1;
    }
    a {
      color: #fff;
    }
  }
}
